---
import Html from "../icons/Tecnologias/Lenguajes/Html.astro"
import Css from "../icons/Tecnologias/Lenguajes/Css.astro"
import Js from "../icons/Tecnologias/Lenguajes/Js.astro"
import Social_icons from "./Social_icons.astro"
import Github from "../icons/Social/Github.astro"
import Link from '../icons/Social/Link.astro'
const tags = {
    Html: {
        name:"Html",
        class: "bg-[#963419] text-white",
        icon: Html,
    },
    Css: {
        name:"Css",
        class: "bg-[#07436b] text-white",
        icon: Css,
    },
    Js: {
        name:"Js",
        class: "bg-[#a39535] text-white",
        icon: Js,
    }
}
const projects = [
    {
        title: "Reddit - Blog",
        description: "Blog para todos los usuarios",
        link: "https://www.reddit.com/",
        github: 'https://github.com/Pietro923',
        image: "/projects/proyecto 1.webp",
        tags: [tags.Html, tags.Css, tags.Js]
    },
    {
        title: "Reddit - Blog",
        description: "Blog para todos los usuarios",
        link: "https://www.reddit.com/",
        github: 'https://github.com/Pietro923',
        image: "/projects/proyecto 1.webp",
        tags: [tags.Html, tags.Css, tags.Js]
    }
]
---
<div class="flex flex-col gap-y-16">
{
    projects.map(({image, title,description,tags})=>(
<article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
            <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
            </div>
        </div>
    <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold mb-2 mt-12">{title}</h3>
        <div class="flex flex-wrap mt-2">
        <ul class="flex gap-x-4 flex-row mb-2">
            {tags.map((tag)=>(
                <li>
                    <span class={`flex gap-x-2 rounded-full text-xm ${tag.class} py-1 px-2`}>
                    <tag.icon class="size-6"/>
                    {tag.name}
                </span>
                </li>
            ))}
        </ul>
        <div class="text-lg mb-4 text-pretty">{description}</div>
        <footer class="flex gap-x-5 mt-4 flex-wrap">
            <Social_icons href="https://github.com/Pietro923/Programacion">
				<Github class="size-4 md:size-6"/>
				Code
			</Social_icons>
            <Social_icons href="#">
				<Link class="size-4 md:size-6"/>
				Preview
			</Social_icons>
        </footer>
    </div>
    </div>


</article>
    ))
}
</div>